:root {
  --bgColour: #ffffff;
}

@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Regular"),
  url("../fonts/Saira/static/Saira-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Black"),
  url("../fonts/Saira/static/Saira-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Saira-Bold";   /*Can be any text*/
  src: local("Saira-Bold"),
  url("../fonts/Saira/static/Saira-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Saira-Black";   /*Can be any text*/
  src: local("Saira-ExtraBold"),
  url("../fonts/Saira/static/Saira-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-ExtraLight"),
  url("../fonts/Saira/static/Saira-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Light"),
  url("../fonts/Saira/static/Saira-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Medium"),
  url("../fonts/Saira/static/Saira-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-SemiBold"),
  url("../fonts/Saira/static/Saira-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Thin"),
  url("../fonts/Saira/static/Saira-Thin.ttf") format("truetype");
}

*{
  margin: auto;
  font-family: 'Saira Thin', sans-serif;
  color: #333;

}

a {
    text-decoration: none;
}

.App {
  justify-content: center;
  align-items: center;
}

.league-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 50px 20vw;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.league-button {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  outline: none;
  min-height: 140px;
  min-width: 640px;
}

.league-button:hover {
  color: #0cc2bc;
}

.league-item {
  min-height: 140px;
  min-width: 100px;
  cursor: pointer;
}

.league-logo {
  height: 50%;
  width: 50%;
}

.grid {
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bgColour);
}

.home-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100vw;
}

.home-title {
  color: #0cc2bc;
  font-size: 4.5rem;
}

.home-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 101%;
}

.home-links:hover {
  color: #0cc2bc;
}

.links {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  min-width: 800px;
}


.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  justify-content: space-evenly;
  background: white;
}

.navbar-logo {
    height: 100px;
    width: 100px;
}

.navbar h1 {
  color: #0cc2bc;
  font-size: 4.5rem;
}

.navbar a:hover {
  color: #0cc2bc;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
}

.standing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.league-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0cc2bc;
  margin: 20px 0;
  font-size: 2.5rem;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0cc2bc;
  font-size: 1.5rem;
  margin: 20px 0;
}

.season-name {
  padding: 30px;
}


.season-names {
  border-top: 1px solid #f2f2f2;
  color: #0cc2bc;
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
}

.season-navigator {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 5px;
}

.season-navigator:hover {
  color: #0cc2bc;
}

.invalid-season {
  color: #CCCCCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 5px;
}

