@import './fonts.css';

:root {
  --bgColour: #ffffff;
  font-family: 'Neue-Montreal', sans-serif;
}

*{
  margin: auto;
  /* color: #333; */
}

a {
    text-decoration: none;
}

.App {
  justify-content: center;
  align-items: center;
  color: #00504d;
}

.league-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 0 20vw 50px 20vw;
  justify-content: center;
  align-items: center;
}

.league-button {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  outline: none;
  min-height: 140px;
  min-width: 640px;
}

.league-button:hover {
  color: #00504d;
}

.league-item {
  height: 80px;
  min-width: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.league-logo {
  height: 80px;
  width: 80px;
  margin: unset;
}

.league-list-name {
  font-size: larger;
  margin: unset;
  color:#00504d;
}

.grid {
  justify-content: center;
  align-items: center;
}

.world-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: calc(100vh - 150px);
  background-color: var(--bgColour);
}

.map-container {
  height: calc(100vh - 150px);
  width: calc(100% - 600px);
  display: flex;
  flex-direction: column;
}

.selected-coordinate-league-list {
  width: 400px;
  margin-top: 50px;
  height: calc(100vh - 150px);
  overflow-y: auto;
}

.selected-coordinate-league-list  h3 {
  color: #00504d;
  margin: 10px 0;
  padding: 0;
}

.home-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100vw;
}

.home-title {
  color: #00504d;
  font-size: 4.5rem;
}

.home-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 101%;
}

.home-links:hover {
  color: #00504d;
}

.links {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  max-width: 800px;
}


.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  justify-content: space-evenly;
  background: white;
  height: 110px;
}

.navbar-logo {
    height: 100px;
    width: 100px;
}

.navbar h1 {
  color: #00504d;
  font-size: 4.5rem;
}

.navbar a:hover {
  color: #00504d;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
}

.standing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.league-name-fav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.league-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00504d;
  margin: 20px 5px;
  font-size: 2.5rem;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00504d;
  font-size: 1.5rem;
  margin: 20px 0;
}

.season-name {
  padding: 30px;
}


.season-names {
  border-top: 1px solid #f2f2f2;
  color: #00504d;
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
}

.season-navigator {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00504d;
  margin-bottom: 30px;
  margin-top: 5px;
}

.season-navigator:hover {
  color: #00504d;
}

.invalid-season {
  color: #CCCCCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 5px;
}

.page-navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  max-width: 350px;
}

.page-button {
  font-size: x-large;
  font-family: 'Neue-Montreal', sans-serif;
  font-weight: bold;
}

.disabled {
  color: #CCCCCC;
}

.standings-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}
